- title @task.name
%section.full  
  = form_for @task do |f|
    %p
      = f.label :name, :class => 'required'
      %br/
      = f.text_field :name, :class => 'half'
    %p
      = f.label :user_id, 'Assigned To', :class => 'required'
      %br/
      = f.select :user_id, User.all.map {|u| [u.full_name, u.id]}
    %p
      = f.label :due_at, 'Due On', :class => 'required'
      %br/
      = f.date_select :due_at, :order => [:month, :day, :year]
    %p
      = f.label :start_time
      %br/
      = f.time_select :start_time, :include_blank => true
    %p
      = f.label :finish_time
      %br/
      = f.time_select :finish_time, :include_blank => true
    %p
      = f.label :start_mileage
      %br/
      = f.text_field :start_mileage
    %p
      = f.label :finish_mileage
      %br/
      = f.text_field :finish_mileage
    %p
      = f.check_box :private
      = f.label :private

    %p
      = f.submit "Update Task", :class => 'btn'
      = submit_tag "Cancel", :class => 'btn'
  %br/
