- title 'Users'

%table#userlist.no-style.full
  %thead
    %tr
      %th Name
      %th Email
      %th Company
      %th Tickets
      %th Role
      %th Last Login
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.full_name, user
        %td= user.email
        %td
          - if user.company.try(:name)
            = user.company.company_name
          - else
            = link_to 'Add to Company', 'javascript:void(0)'
        %td
          - if user.tickets.totals('open') > 0
            = user.tickets.totals('open')
            Open
            %br/
          - if user.tickets.totals('customer-reply') > 0
            = user.tickets.totals('customer-reply')
            Customer reply
        %td ROLE
        %td= user.last_sign_in_at.strftime("%A %b %e, %Y at %l:%M%p ")