- title 'Mail Settings'

%p
  %strong
    = link_to 'Edit', [:edit, :admin, @mail_setting], class: 'btn'
%p
  %strong
    Environment:
  = @mail_setting.environment
%p
  %strong
    Mail Setting Name:
  = @mail_setting.name
%p
  %strong
    Enable Mail Delivery:
  = @mail_setting.enable_mail_delivery
%p
  %strong
    Mail Host:
  = @mail_setting.mail_host
%p
  %strong
    Mail Domain:
  = @mail_setting.mail_domain
%p
  %strong
    Mail Port:
  = @mail_setting.mail_port
%p
  %strong
    Mail Auth Type:
  = @mail_setting.mail_auth_type
%p
  %strong
    SMTP Username:
  = @mail_setting.smtp_username
%p
  %strong
    SMTP Password:
  = @mail_setting.smtp_password
%p
  %strong
    Secure Connection Type
  = @mail_setting.secure_connection_type
%p
  %strong
    Mails From:
  = @mail_setting.mails_from
%p
  %strong
    Mail BCC:
  = @mail_setting.mail_bcc