- title 'Edit Ticket'
%section.full
  %h2 Edit Ticket
  
  = form_for @ticket do |f|
    %p
      = f.label :subject, 'Subject', :class => 'required'
      %br/
      = f.text_field :subject, :class => 'full'
    %p
      = f.label :description, 'Description', :class => 'required'
      %br/
      = f.text_area :description, :class => 'medium full'
    %p
      = f.label :priority
      %br/
      = f.select :priority, Ticket::PRIORITY
    %p
      = f.label :status
      %br/
      = f.select :status, Ticket::STATUS
    %p
      = f.label :assigned_to, 'Assign Tech'
      %br/
      = f.collection_select :assigned_to, User.all, :id, :full_name
    %p= f.submit "Submit", :class => 'btn btn-green big'
  %br/
