- title 'Tickets'
%table#ticketlist.no-style.full
  %thead
    %tr
      %th Number
      %th Subject
      %th Description
      %th Assignee
      %th Priority Level
      %th Status
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= link_to ticket.number, show_ticket_path(ticket.number)
        %td= link_to ticket.subject, show_ticket_path(ticket.number)
        %td= truncate(ticket.description, :length => 25, :omission => '...', :separater => ' ')
        %td= ticket.user.full_name
        %td= ticket.priority
        %td= ticket.status.humanize
-# = paginate @tickets

