= form_for @company do |f|
  %p
    = f.label :company_name, "Company Name", :class => 'required'
    %br/
    = f.text_field :company_name, :class => 'half'
    %br/
  = f.fields_for :locations do |location|
    = render 'locations/location', :f => location
  %p
    = f.label :web_address
    %br/
    = f.text_field :web_address, :class => 'half'
    
  %p
    = f.submit :class => 'btn'
    = submit_tag "Cancel", :class => 'btn' do
      = content_tag :span,"&nbsp;", :class => 'icon icon-cancel'
%br/