- title 'Companies'

%table#companylist.no-style.full
  %thead
    %tr
      %th Name
      %th City
      %th State
      %th Phone Number
      %th Web Site
      %th
  %tbody
    - @companies.each do |company|
      %tr
        %td= link_to company.company_name, company_path(company.slug)
        %td= company.locations.first.city
        %td= company.locations.first.state
        %td= company.locations.first.phone_number
        %td= link_to company.web_address, company.web_address
        %td= link_to image_tag('/images/delete.png'), company, :confirm => 'Are you sure?', :method => :delete, :class => 'delete'

#info.last
  %span.dashboard_button
    = link_to new_company_path, :class => 'btn' do
      = content_tag :span,"&nbsp;", :class => 'icon icon-add'
      Create Company
  