- title @company.company_name
= javascript 'gmaps4rails'

.column.width4.first
  .column.width2.first
    %br/
    - @company.locations.each do |location|
      #info
        %span.company-name
          %strong
            = location.name
            = link_to image_tag('/images/delete.png'), company_location_path(:company_id => @company.slug, :id => location.slug), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
      #info
        %span
          = location.address
          %br/
          - unless location.city.blank?
            = location.city + ', ' 
          = location.state + '  ' + location.zip_code
          %br/
          = location.country
          %br/
          = location.phone_number
          %br/
    #info
      %span
        = link_to @company.web_address, @company.web_address
        %br/
        %br/
    #add_location.hidden
      %strong Add Location
      = form_for(Location.new, :url => company_locations_path(@company, @location)) do |f|
        %p
          = f.label :name, "Location Name", :class => 'required'
          %br/
          = f.text_field :name, :class => 'half'
          %br/  
        %p
          = f.label :address
          %br/
          = f.text_field :address, :class => 'half'
        %p
          = f.label :city
          %br/
          = f.text_field :city
        %p
          = f.label :state
          %br/
          = f.select :state, State::NAMES, :include_blank => true
        %p
          = f.label :zip_code
          %br/
          = f.text_field :zip_code
        %p
          = f.label :country
          %br/
          = f.select :country, Country::NAMES, :include_blank => true
        %p
          = f.submit :class => 'btn'
          = submit_tag "Cancel", :class => 'btn' do
            = content_tag :span,"&nbsp;", :class => 'icon icon-cancel'
  .column.width2
    %br/
    #info
      %span
        %strong Users in this company
        - @company.users.each do |user|
          %br/
          %span= link_to user.full_name, user
  
  #add_users.hidden
    = form_tag company_users_path, :method => :put do
      = hidden_field_tag :company, @company.id
      - for user in @users
        %strong
          = check_box_tag "user_ids[]", user.id
          = user.full_name
          %br/
          %br/
      - if @users.count > 0
        = submit_tag 'Add to Company', :class => 'btn'
      - else
        %h3 Sorry, no more users to add.
    
  .column.width4.first
    #info
      .column.width2.first
        = link_to 'Add Location', '#add_location', :class => 'btn nyroModal'
      .column.width2
        = link_to 'Add Users', '#add_users', :class => 'btn nyroModal'
    #info.last
      %br/
      %br/
      %h4 Add Notes
      = form_for @company do |f|
        = f.text_area :notes, :class => 'medium full'
        %br/
        = f.submit 'Submit', :class => 'btn'
      %br/
      = link_to edit_company_path, :class => 'btn' do
        = content_tag :span,"&nbsp;", :class => 'icon icon-add'
        Edit Company
      
.column.width4
  #info.last
    - unless @company.locations.first.address.empty?
      = gmaps4rails(@json)
      / = draw_map_of(Location.new(@company.name, @company.lat, @company.lng), 
      /     :marker => {:title => @company.name}, :static_map_html => {:width => '100%'})