- title @company.name
= javascript 'gmaps'

.column.width4.first
  .column.width2.first
    %br/
    #info
      %span.company-name
        %strong
          = @company.name
    #info
      %span
        = @company.address
        %br/
        = @company.city + ', ' + @company.state + '  ' + @company.zip_code
        %br/
        = @company.country
        %br/
        %br/
    #info
      %span
        = @company.phone_number
        %br/
        = link_to @company.web_address, @company.web_address
        %br/
        %br/
      
  .column.width2
    %br/
    #info
      %span
        %strong Users in this company
        - @company.users.each do |user|
          %br/
          %span= link_to user.full_name, user
  
  #add_users.hidden
    = form_tag company_users_path, :method => :put do
      = hidden_field_tag :company, @company.id
      - for user in @users
        %strong
          = check_box_tag "user_ids[]", user.id
          = user.full_name
          %br/
          %br/
      - if @users.count > 0
        = submit_tag 'Add to Company', :class => 'btn'
      - else
        %h3 Sorry, no more users to add.
    
  .column.width4.first
    #info
      .column.width2.first
        = link_to edit_company_path, :class => 'btn' do
          = content_tag :span,"&nbsp;", :class => 'icon icon-add'
          Edit Company
      .column.width2
        = link_to 'Add Users', '#add_users', :class => 'btn nyroModal'
    #info.last
      %br/
      %br/
      %h4 Add Notes
      = form_for @company do |f|
        = f.text_area :notes, :class => 'medium full'
        %br/
        = f.submit 'Submit', :class => 'btn'
      
.column.width4
  #info.last
    = draw_map_of(Location.new(@company.name, @company.lat, @company.lng), 
        :marker => {:title => @company.name}, :static_map_html => {:width => '100%'})