%section.full
  %h2 Login
  .box.box-info Login Using your email address and password
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :id => 'loginform') do |f|
    %p 
      = f.label :email, 'Login', :class => 'required'
      %br/
      = f.text_field :email, :id => 'username', :class => 'full'
    %p
      = f.label :password, 'Password', :class => 'required'
      %br/
      = f.password_field :password, :id => 'password', :class => 'full'
    - if devise_mapping.rememberable?
      %p
        = f.check_box :remember_me, :id => 'remember'
        = f.label :remember_me, :class => 'choice'
    %p= f.submit "Login", :class => 'btn btn-green big' 
    = render :partial => "devise/shared/links"
