- title @asset.name + " - " + @asset.classification 
#asset_info
  %strong Assigned To: 
  = @asset.user.full_name unless @asset.user.blank?
  %h4
    %strong Description
  = simple_format(@asset.description)
  
%section.column.width8.first
  %fieldset
    %legend Primary Information
    %table#pri_info.no-style.full{style: ""}
      %thead
        %tr
          %th
            %b Warranty
          %th
            %b Company
          %th
            %b Added By
          %th
            %b Added On
          %th
            %b Last Updated

      %tbody
        %tr
          %td= @asset.warranty
          %td= link_to @asset.company.name, @asset.company unless @asset.company.blank?
          %td= @asset.create_user
          %td= @asset.created_at.strftime("%A %b %e, %Y at %l:%M%p ")
          %td
            = @asset.updated_at.strftime("%A %b %e, %Y at %l:%M%p ")
            %br
            Updated By
            = @asset.update_user
  %br/
  %br/
  %fieldset
    %legend System Information
    %table#pri_info.no-style.full{style: ""}
      %thead
        %tr
          %th
            %b Operating System
          %th
            %b Location
          %th
            %b IP
          %th
            %b Firmware
          %th
            %b Serial Number
          %th
            %b Asset Tag
          %th
            %b Part Number
          %th
            %b Login Info
      %tbody
        %tr
          %td= @asset.os
          %td= @asset.location
          %td= @asset.ip
          %td= @asset.firmware
          %td= @asset.serial_number
          %td= @asset.asset_tag
          %td= @asset.part_number
          %td
            %label 
              Username
            = @asset.user_name
            %br/
            %label 
              Password
            = @asset.user_password
  
.column.width8.first.last
  = link_to edit_asset_path, class: 'btn' do
    = content_tag :span,"&nbsp;", class: 'icon icon-add'
    Edit Asset
  = link_to :back, class: 'btn' do
    = content_tag :span,"&nbsp;", class: 'icon icon-cancel'
    Go Back