- title "Dashboard"
/ Left column/section
%section.column.width6.first
  .colgroup.leading
    .column.width3.first
      %h3
        Welcome back,
        = @user.full_name
      %p
        You are currently signed up to the
        = succeed "." do
          %b Starter Plan
        %br/
        %a{:href => "#"} Upgrade now?
    .column.width3
      %h4 Last login
      %p
        = @user.last_sign_in_at.strftime("%A %b %e, %Y at %l:%M%p ")
        from
        = @user.last_sign_in_ip.to_s
  .colgroup.leading
    .column.width3.first
      %h4
        Tickets: 
        = link_to @user.tickets.count, tickets_path
      %hr/
      %table.no-style.full
        %tbody
          %tr
            %td Total Tickets
            %td.ta-right.total_tickets
              = link_to @user.tickets.count, tickets_path
          %tr
            %td Total Open
            %td.ta-right.open_tickets
              = link_to @user.tickets.totals('open'), tickets_status_path('open')
          %tr
            %td Total Customer Reply
            %td.ta-right.customer_reply_tickets
              = link_to @user.tickets.totals('customer_reply'), tickets_status_path('customer_reply')
          %tr
            %td Total Answered
            %td.ta-right.answered_tickets
              = link_to @user.tickets.totals('answered'), tickets_status_path('answered')
          %tr
            %td Total Closed
            %td.ta-right.closed_tickets
              = link_to @user.tickets.totals('closed'), tickets_status_path('closed')
      %span.dashboard_button
        = link_to 'Create Ticket', new_ticket_path, :class => 'btn btn-green'
    .column.width3
      %h4
        Assets:
        %a{:href => "#"} 1
      %hr/
      %table.no-style.full
        %tbody
          %tr
            %td Servers
            %td.ta-right
              %a{:href => "#"} 1
          %tr
            %td Desktops
            %td.ta-right
              %a{:href => "#"} 9
          %tr
            %td Laptops
            %td.ta-right
              %a{:href => "#"} 5
          %tr
            %td Misc.
            %td.ta-right
              %a{:href => "#"} 9
          %tr
            %td &nbsp;
            %td &nbsp;
      %span.dashboard_button
        = link_to 'Create Asset', 'javascript:void(0)', :class => 'btn btn-green'
  .colgroup.leading
    .column.width3.first
      %h4 Ticket Stats
      %hr/
      %table.no-style.full
        %tbody
          %tr
            %td Open
            %td.ta-right
              = @user.tickets.totals('open').to_s + "/" + @user.tickets.count.to_s
            %td
              #progress1.progress.full.progress-red
                %span
                  %b
          %tr
            %td Customer Reply
            %td.ta-right
              = @user.tickets.totals('customer_reply').to_s + "/" + @user.tickets.count.to_s
            %td
              #progress2.progress.full.progress-yellow
                %span
                  %b
          %tr
            %td Answered
            %td.ta-right
              = @user.tickets.totals('answered').to_s + "/" + @user.tickets.count.to_s
            %td
              #progress3.progress.full.progress-blue
                %span
                  %b
          %tr
            %td Closed
            %td.ta-right
              = @user.tickets.totals('closed').to_s + "/" + @user.tickets.count.to_s
            %td
              #progress4.progress.full.progress-green
                %span
                  %b
    .column.width3
      %h4 Reports
      %hr/
      %p
        %b Sales this year
      #placeholder{:style => "height:100px"}
  .clear  
/ End of Left column/section
/ Right column/section
%aside.column.width2
  #rightmenu
    %header
      %h3 Your Account
    %dl.first
      %dt
        %img{:alt => "", :height => "16", :src => "/images/key.png", :width => "16"}/
      %dd
        = link_to @user.email + ' (' + @user.full_name + ')', edit_user_registration_path
      %dd.last Free Account.
      %dt
        %img{:alt => "", :height => "16", :src => "/images/help.png", :width => "16"}/
      %dd
        %a{:href => "#"} Support
      %dd.last Documentation and FAQ
  .content-box
    %header
      %h3 Latest in the Community
    %section
      %dl
        %dt Maximize every interaction with a client
        %dd
          %a{:href => "#"} Read more
        %dt Diversification for Small Business Owners
        %dd
          %a{:href => "#"} Read more
/ End of Right column/section
/ End of Wrapper
/ End of Page content:w

