!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title 
      TicketsTickets
      = "- " + yield(:title) unless !:title
    %meta{:content => "TicketsTickets", :name => "description"}/
    %meta{:content => "Tickets", :name => "keywords"}/
    / Favicons
    %link{:href => "/images/favicons/favicon.png", :rel => "shortcut icon", :type => "image/png"}/
    %link{:href => "/images/favicons/favicon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/images/favicons/apple.png", :rel => "apple-touch-icon"}/
    / Stylesheets
    = stylesheet_link_tag 'application', 'custom'

    / jQuery with plugins
    = javascript_include_tag 'jquery.min', 'jquery.ui.core.min', 'jquery.ui.widget.min', 'jquery.ui.tabs.min', 'jquery.tipTip.min'
    = javascript_include_tag 'jquery.superfish.min', 'flot/jquery.flot.min'
    = javascript_include_tag 'jquery.supersubs.min', 'jquery.validate_pack', 'jquery.nyroModal.pack','swfobject', 'application'
    
    / Internet Explorer Fixes
    /[if IE]
      <link rel="stylesheet" type="text/css" media="all" href="/stylesheets/ie.css"/>
      <script src="/javascripts/html5.js"></script>
    / Upgrade MSIE5.5-7 to be compatible with MSIE8: http://ie7-js.googlecode.com/svn/version/2.1(beta3)/IE8.js
    /[if lt IE 8]
      <script src="/javascripts/IE8.js"></script>
  %body
    / Header
    %header#top
      .wrapper
        / Title/Logo - can use text instead of image
        #title
          = link_to(image_tag('/images/logo.png'), root_path)
          / %img{:alt => "TicketsTickets", :src => "/images/logo.png"}/
          / <span>Administry</span> demo
        / Main navigation
        / Top navigation
        - if current_user
          #topnav
            %a{:href => "#"}
              = image_tag avatar_url(current_user), :class => 'avatar'
            Logged in as
            %b
              = current_user.full_name
            / %span
            /               |
            /             = link_to 'Settings', edit_user_registration_path
            /             %span
            /               |
            /             = link_to 'Logout', logout_path
            %br/
            %small
              You have
              %a.high{:href => "#"}
                %b 1
                new message!
        / End of Top navigation
        
        %nav#menu
          - if current_user
            %ul.sf-menu
              = render 'layouts/shared/menu_items'
        %nav.right
          %ul.sf-menu
            = render 'devise/menu/login_items'
        / End of Main navigation
        / Aside links
        / %aside
        /           %b English
        /           \·
        /           %a{:href => "#"} Spanish
        /           \·
        /           %a{:href => "#"} German
        / End of Aside links
    / End of Header
    / Page title
    - if !current_user
      #pagetitle
        .wrapper-login

    - else
      / Page title
      #pagetitle
        .wrapper
          %h1= yield(:title) unless !:title
          / Quick search box
          %form{:action => "", :method => "get"}
            %input#q{:name => "q", :type => "text"}/
      / End of Page title

    / Page content
    #page
      .wrapper-flash
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}", :class => 'box box-info'
      / Wrapper
      - if !current_user
        .wrapper-login
          = yield
      - else
        .wrapper
          = yield
      / End of Wrapper
    / End of Page content
    / Page footer
    %footer#bottom
      .wrapper-login
        %p
          Copyright © 2010
          %b
            %a{:href => "http://themeforest.net/user/zoranjuric", :title => "Visit my profile page @ThemeForest"} Zoran Juric
          | Icons by
          %a{:href => "http://www.famfamfam.com/"} FAMFAMFAM
    / End of Page footer
    / User interface javascript load
    = javascript_include_tag 'administry'